body {
  background-color: #ffffff;
  background-image: url("img/fondo.png");
  background-attachment: fixed;
  background-size: 100% 100%;
}

.pregunta {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  border-radius: 5;
}
.imgpred {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.imgpred img {
  border-radius: 20px;
  border: white 3px solid;
  box-shadow: 0px 0px 30px 15px rgba(255, 255, 255, 2);
}
.imgpredResp {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.imgpredResp img{
  
  border-radius: 20px;
}

.opciones {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 5px;
}


.opciones div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#94c4e4, #4494d4);
  padding: 15px;
  margin: 5px 30px 15px 10px;
  border-radius: 20px;
  width: 200px;
  height: 80px;
  border: white 3px solid;
  font-weight: bold;
  font-size: 25px;
  font-family: inherit;
}

.opciones div:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

.parent2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100px;
}

.div1 {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.div2 {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5%;
}


.btn{
  width: 70px;
  height: 70px;
  font-size: 36px;
  border-radius: 50%;
  position: relative;
  border: 4px solid white;
  top: 18%;
  margin-right: 9px;
}

@font-face {
  font-family: nunito_bold;
  src: url(../../nunito/Nunito-ExtraBold.ttf);
}

* {
  font-family: nunito_bold;
}




.overlay {
  background-image: url(../../images/ciencia/normal1.gif);
  background-size: 90% 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: fixed;
  left: -200px; /* Empieza fuera de la pantalla */
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.overlay::before{
  position:absolute; 
  width:0; 
  height:0; 
  overflow:hidden; 
  z-index:-1;
  content:url("../../images/ciencia/normal1.gif")
          url("../../images/ciencia/normal2.gif")
}

@keyframes moverDerecha {
  from { left: -100%; opacity: 0;}
  to { left: 0; opacity: 1;}
}

@keyframes moverIzquierda {
  from { left: 0; opacity: 1;}
  to { left: -100%; opacity: 0;}
}

.borde2 {
  text-shadow: 1px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  font-weight: bold;
  color: #4399D7 !important;
  font-size: 19px;
  
}

#bienvenida{
  line-height: 1.5;
}

#bienvenida {
  width: 55%;
  padding-left: 40pt;
  font-size: 20px !important;
  text-align: justify;
}

.nube {
  background-image: url(../../images/nube.png);
  background-size: 100% 100%;
  width: 558pt;
  height: 456pt;
  position: absolute;
  z-index: 1000;
  bottom: -362pt;
  left: 422pt;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  animation-duration: 2.8s;
  animation-fill-mode: forwards;
}

@keyframes moverArriba {
  from { bottom: -362pt; opacity: 0;}
  to { bottom: 147pt; opacity: 1;}
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

@keyframes moverabajo {
  from { bottom: 147pt; opacity: 1;}
  to { bottom: -362pt; opacity: 0;}
}

.final {
  background-size: 42%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.904);
}

