@import url('../bootstrap/font.css?family=Nunito:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito';
}

h1{
	color: white;
	padding: 50px;
}
.container_ {
	margin-top: 20px !important;
	background-color: #94c4e4;
    max-width: 626px;
    margin: auto;
    border: 2px solid #612e82;
    border-radius: 20px;
    display: flex;
    padding: 3px 0 !important;
}

.container_2 {
    max-width: 626px;
    margin: auto;
    padding: 23px 0;
}

.izquierdo{
	width: 95%;
	font-size: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.derecha{
	width: 30%;
}
.msj{
	font-size: 40px;
	height: 50px;
}
.derecha{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.opcion{
	width: 80px;
	height: 80px;
	border: 1px solid  #612e82 ;
	font-size: 40px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #612e82 ;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nuevo-juego {
	cursor: pointer;
	background: linear-gradient(#94c4e4 , #4494d4 );
	padding: 9px;
	border-radius: 50px;
	border: white 5px solid;
	font-size: 107%;
	color: white !important;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.volver {
	cursor: pointer;
	background: linear-gradient(#eb3c63  , #ee0d3e  );
	padding: 9px;
	border-radius: 50px;
	border: white 5px solid;
	font-size: 107%;
	color: white !important;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.opciones {
	width: 100%;
	padding: 19px;
	background: linear-gradient(#ce7028 , #f9a954 );
	background-color: #f9a954;
	border-radius: 10px;
}

.titulo {
	text-align: center;
    font-size: 32px;
    text-shadow: 3px 3px 10px #ffffff;
    width: 650px;
    margin: auto;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: system-ui;
    color: #000;
}

body{
	background: url(../../portadas/mate.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	height: 100vh;
	text-align: center;
	color: #262626;
}


.container-operacion {
	text-align: end;
}

#num_1, #num_2{
	padding: 0px;
	width: 250px !important;
	margin: 0px;
}


.overlay {
    background-image: url(../../images/normal1.gif);
    background-size: 90% 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: fixed;
    left: -200px; /* Empieza fuera de la pantalla */
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.overlay::before{
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1;
    content:url("../../images/normal1.gif")
            url("../../images/normal2.gif")
}

@keyframes moverDerecha {
    from { left: -100%; opacity: 0;}
    to { left: 0; opacity: 1;}
}

@keyframes moverIzquierda {
    from { left: 0; opacity: 1;}
    to { left: -100%; opacity: 0;}
}

.borde2 {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    font-weight: bold;
    color: #fff !important;
    font-size: 19px;
}

#bienvenida {
    width: 55%;
    padding-left: 40pt;
    font-size: 21px !important;
    text-align: justify;
}

.nube {
    background-image: url(../../images/nube.png);
    background-size: 100% 100%;
    width: 558pt;
    height: 456pt;
    position: absolute;
    z-index: 1000;
    bottom: -362pt;
    left: 422pt;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    animation-duration: 2.8s;
    animation-fill-mode: forwards;
}

@keyframes moverArriba {
    from { bottom: -362pt; opacity: 0;}
    to { bottom: 147pt; opacity: 1;}
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

@keyframes moverabajo {
    from { bottom: 147pt; opacity: 1;}
    to { bottom: -362pt; opacity: 0;}
}

.final {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.904);
    cursor: pointer;
}