.borde {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    color: #fff;
}


body {
    background: url('fondo.png');
    background-repeat: repeat-x;
    background-size: 100% 85%;
    overflow: hidden;
    background-position: 0 0;
    
}

@keyframes moverFondo {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: -20000px 0;
    }
}

#counter {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: #e0eff2;
    text-shadow: -1px 1px 0 #3a50d9, -2px 4px 0 #0a0e27;
    transition: transform 0.3s ease-in-out;
}


.col-1 .btn-danger,
.btn-warning {
    width: 70px;
    height: 70px;
    font-size: 31px;
    border-radius: 50%;
    border: 4px solid white;
    margin-right: 9px;
}

.btn-warning {
    border-color: #000;
}

/* .camilla-div{
  position: absolute;
  left: 10%;
  transform: translate(-50%, -50%);
  animation: moverCamilla 10s linear infinite paused;
}


@keyframes moverCamilla {
    0% { left: 10%; } /* Inicio: posición inicial de la moto 
    100% { left: calc(100% - 50px); } /* Fin: posición final de la moto 
  } */


  #camilla {
    position: absolute;
    top: 67%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 148px;
    background-image: url(img/camillero-normal.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }

  #camilla::before {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("img/camillero-normal.gif") url("img/camillero-rapido.gif") ;
  }


  #ambuImage {
    position: absolute;
    top: 62%;
    transform: translate(120%, -50%);
    right: -300px; /* Posición inicial fuera de la pantalla */
    animation: moverAmbu 8s linear infinite; /* Ajusta la velocidad y duración del movimiento */
    background-image: url(img/ambulancia.gif);
    background-size: 90%;
    background-repeat: no-repeat;
    width: 450px;
    height: 250px;
    z-index: 2;

  }

  @keyframes moverAmbu {
    0% { right: 0%; } /* Inicio: posición inicial de la moto */
    100% { right: calc(100% - 50px); } /* Fin: posición final en el centro de la pantalla */
  }

  #pierde {
    position: absolute;
    top: 26%;
    left: -248px;
    width: 10px;
    
  }


.overlay {
    background-image: url('../../images/ciencia/normal1.gif');
    background-size: 90% 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: fixed;
    left: -200px;
    /* Empieza fuera de la pantalla */
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.overlay::before {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("../../images/ciencia/normal1.gif") url("../../images/ciencia/normal2.gif")
}

@keyframes moverDerecha {
    from {
        left: -100%;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes moverIzquierda {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -100%;
        opacity: 0;
    }
}

.borde2 {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    font-weight: bold;
    color: #fff !important;
    font-size: 19px;
}

#bienvenida {
    width: 55%;
    padding-left: 40pt;
    font-size: 20px !important;
    text-align: justify;
}

.nube {
    background-image: url('../../images/nube.png');
    background-size: 100% 100%;
    width: 558pt;
    height: 456pt;
    position: absolute;
    z-index: 1000;
    bottom: -362pt;
    left: 422pt;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    animation-duration: 2.8s;
    animation-fill-mode: forwards;
}

@keyframes moverArriba {
    from {
        bottom: -362pt;
        opacity: 0;
    }

    to {
        bottom: 147pt;
        opacity: 1;
    }
}

.overlay .btn-warning {
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.overlay .btn-warning:hover {
    color: #fff !important;
}

.overlay .btn-warning:hover i {
    color: #fff !important;
}

.overlay .btn-warning::after {
    content: "";
    background: #4195d1;
    color: #fff !important;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}


.final {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.904);
}

.overlay .btn-warning {
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.seleccionado {
	background-color: #85d928;

}

.overlay .btn-warning:hover {
    color: #fff !important;
}

.overlay .btn-warning:hover i {
    color: #fff !important;
}

.overlay .btn-warning::after {
    content: "";
    background: #4195d1;
    color: #fff !important;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

.swal2-html-container {
    overflow: hidden;
}

.swal2-modal {
    width: 60% !important
}


.dialogo1 {
    display: none;
    width: 275pt;
    height: 149pt;
    position: relative;
    top: -106pt;
    left: 93pt;
    background-image: url('img/nube.png');
    background-position: center;
    background-size: 106% 110%;
    background-repeat: no-repeat;
    padding: 20pt 20pt 40pt;
}

.dialogo2 {
    display: none;
    width: 275pt;
    height: 149pt;
    position: relative;
    top: -106pt;
    right: 205pt;
    background-image: url('img/nube2.png');
    background-position: center;
    background-size: 106% 110%;
    background-repeat: no-repeat;
    padding: 20pt 20pt 40pt;
}

#parrafo1,
#parrafo2 {
    font-size: 17pt;
    font-weight: bold;
}

.swal2-modal {
    width: 80% !important
}

.swal2-html-container {
    overflow: hidden !important;
}

.eyes {
    position: absolute;
    top: 95%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.eye {
    width: 70%;
    height: 300px;
    display: inline-block;
    margin: 40px;
    position: relative;
}


.card {
    box-sizing: border-box;
    width: 100px;
    height: 80px;;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    font-size: 20px;
  }

  .card-selOk{
    background: rgba(31, 228, 120, 0.945);
  }
  .card-selFail{
    background: rgba(206, 38, 38, 0.829);
  }

  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  
  #huecoContainer {
    position: absolute;
    top: 79%;
    transform: translate(-50%, -50%);
    right: -300px; /* Posición inicial fuera de la pantalla */
    animation: moverHueco 8s linear infinite; /* Ajusta la velocidad y duración del movimiento */
    background-image: url(img/hueco.png);
    background-size: 90%;
    background-repeat: no-repeat;
    width: 100px;
    height: 156px;
    z-index: 1;
  }

  @keyframes moverHueco {
    0% { right: -300px; } /* Inicio: posición inicial fuera de la pantalla */
    100% { right: 100%; } /* Fin: posición final en el centro de la pantalla */
  }

  .tambaleo {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { background-position: center; }
    10%, 30%, 50%, 70%, 90% { background-position: left; }
    20%, 40%, 60%, 80% { background-position: right; }
    100% { background-position: center; }
  }


