.row2 {
  margin-top: 30px;
}

.signo {
  border: 6px dashed black;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  height: 260px;
  font-size: 50px;
  font-weight: bold;
  justify-content: center;
  align-items: center !important;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.numero {
  border: 1px solid black;
  border-radius: 20%;
  width: 90px;
  height: 90px;
  font-size: 50px;
  align-items: center;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.col-12 {
  margin-top: 38px;
}

.col-12.dragging {
  background-color: navy;
  border-radius: 50%;
}

.dropped {
  padding: 0;
  background-color: #85d928;
}

.error {
  padding: 0;
  background-color: #d92828;
  color: white;
}

@font-face {
  font-family: nunito_bold;
  src: url(../../nunito/Nunito-ExtraBold.ttf);
}

* {
  font-family: nunito_bold;
}

body {
  background: url(img/fondo.png);
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  color: #262626;
}

.btn {
  width: 70px;
  height: 70px;
  font-size: 36px;
  border-radius: 50%;
  border: 7px solid white;
}

.imagen_Vocal {
  width: 80%;
  border: 2px dashed;
  border-radius: 20px;
  cursor: pointer;
}

.swal2-html-container {
  overflow: hidden;
}

.col-2 {
  padding: 0px !important;
  text-align: center;
}

.col-2 div {
  width: 90%;
  text-align: center;
}

.swal2-modal {
  width: 50% !important;
}

.seleccionado {
  background-color: #85d928;
}

.letra {
  padding: 15px;
}

.container {
  max-width: 1400px !important;
}

.img_drag {
  cursor: pointer;
}

.hide {
  display: none;
}

.overlay {
  background-image: url(../../images/normal1.gif);
  background-size: 90% 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: fixed;
  left: -200px; /* Empieza fuera de la pantalla */
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.overlay::before {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../../images/normal1.gif") url("../../images/normal2.gif");
}

@keyframes moverDerecha {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes moverIzquierda {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}

.borde2 {
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  font-weight: bold;
  color: #fff !important;
  font-size: 19px;
}

#bienvenida {
  width: 55%;
  padding-left: 40pt;
  font-size: 20px !important;
  text-align: justify;
}

.nube {
  background-image: url(../../images/nube.png);
  background-size: 100% 100%;
  width: 558pt;
  height: 456pt;
  position: absolute;
  z-index: 1000;
  bottom: -362pt;
  left: 422pt;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  animation-duration: 2.8s;
  animation-fill-mode: forwards;
}

@keyframes moverArriba {
  from {
    bottom: -362pt;
    opacity: 0;
  }
  to {
    bottom: 147pt;
    opacity: 1;
  }
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

@keyframes moverabajo {
  from {
    bottom: 147pt;
    opacity: 1;
  }
  to {
    bottom: -362pt;
    opacity: 0;
  }
}

.final {
  background-size: 45%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.904);
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

#divGeneral {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  height: 100%;
}

#contenedor {
  position: absolute; /* Cambiado a relativo para que el div destino sea relativo a este */

  width: 100%;
  height: 100%;
}

.imagenMost {
  position: absolute;
  top: 24%;
  left: 73%;
  transition: all 1s ease; /* Transición de 1 segundo con efecto ease */
  z-index: 1;
}

.verdadero {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 60%;
  left: 75%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/correcta.png');
}

.falso {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 60%;
  left: 86%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/incorrecta.png');
}

#alarma {
  position: absolute;
  top: 18%;
  left: 51%;
  width: 61px;
  height: 61px;/* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#canasto {
  position: absolute;
  top: 43%;
  left: 30%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#candado {
  position: absolute;
  top: 81%;
  left: 10%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#cuchillo {
  position: absolute;
  top: 64%;
  left: 39%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#matera {
  position: absolute;
  top: 82%;
  left: 26%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#mesa {
  position: absolute;
  top: 46%;
  left: 36%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#nevera {
  position: absolute;
  top: 40%;
  left: 26%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#rodillo {
  position: absolute;
  top: 80%;
  left: 17%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#sofa {
  position: absolute;
  top: 92%;
  left: 1%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#tanque {
  position: absolute;
  top: 45%;
  left: 54%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#zanahoria {
  position: absolute;
  top: 11%;
  left: 47%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}


#maletin {
  position: absolute;
  top: 36%;
  left: 40%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#silla {
  position: absolute;
  top: 36%;
  left: 40%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#mapaMundi {
  position: absolute;
  top: 36%;
  left: 40%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#lupa {
  position: absolute;
  top: 36%;
  left: 40%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#cartuchera {
  position: absolute;
  top: 36%;
  left: 40%;
  width: 100px;
  height: 100px;
  overflow: hidden; /* Para ocultar la parte de la imagen fuera del div */
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#timer_sec{
  position: absolute;
  top: 89%;
  left: 66%;
  z-index: 1;
}

.incorrect-answer {
  filter: drop-shadow(1px 1px 10px #f90404);
 
}

.correct-answer {
  filter: drop-shadow(16px 7px 4px #58ff58);
}

 /* Efecto de zoom al pasar el mouse */
 .verdadero:hover, .falso:hover{
  transform: scale(1.2); /* Puedes ajustar el nivel de zoom aquí */
}

.imgFondo{
  position: absolute;
  top: 10%;
  width: 60%;
}

.escala {
  animation: escalaRepetitiva 0.8s infinite alternate;
}

@keyframes escalaRepetitiva {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}