.row2 {
    margin-top: 30px;
}

.signo {
    border: 1px dashed black;
    background-color: #fff;
    border-radius: 20px;
    width: 43%;
    height: 90pt;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    align-items: center !important;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    max-width: 90%;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.numero {
    border: 1px solid black;
    border-radius: 20%;
    width: 90px;
    height: 90px;
    font-size: 50px;
    align-items: center;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.col-12.dragging {
    background-color: navy;
    border-radius: 50%;
}

.dropped {
    padding: 0;
    background-color: #85d928;
}

.error {
    padding: 0;
    background-color: #d92828;
    color: white;
}

@font-face {
    font-family: nunito_bold;
    src: url(../../nunito/Nunito-ExtraBold.ttf);
}

* {
    font-family: nunito_bold;
}


body {
    background: url(img/fondo.png);
    background-size: 100% 100%;
    background-position: center center;
    color: #fff;
    height: 100vh;
    color: #262626;
}

.btn {
    width: 70px;
    height: 70px;
    font-size: 36px;
    border-radius: 50%;
    border: 7px solid white;
}

.imagen_Vocal {
    width: 80%;
    border: 2px dashed;
    border-radius: 20px;
    cursor: pointer;
}

.swal2-html-container {
    overflow: hidden;
}

.col-2 {
    padding: 0px !important;
    text-align: center;
}

.col-2 div {
    width: 90%;
    text-align: center;
}

.swal2-modal {
    width: 50% !important
}

.seleccionado {
    background-color: #85d928;
}

.letra {
    padding: 11px;
}

.container {
    max-width: 1600px !important;
}

.img_drag {
    cursor: pointer;
}

.hide {
    display: none;
}

.draggable-image {
    margin-top: 25px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: white;
}

.imagenes_2 {
    transition: all 1s;
    -webkit-transition: all 1s;
}

.borde {
    text-shadow: 2px 0 #7d4008, -2px 0 #7d4008, 0 2px #7d4008, 0 -2px #7d4008,
        1px 1px #7d4008, -1px -1px #7d4008, 1px -1px #7d4008, -1px 1px #7d4008;
}

.overlay {
    background-image: url(../../images/normal1.gif);
    background-size: 90% 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: fixed;
    left: -200px;
    /* Empieza fuera de la pantalla */
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.overlay::before {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("../../images/normal1.gif") url("../../images/normal2.gif")
}

@keyframes moverDerecha {
    from {
        left: -100%;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes moverIzquierda {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -100%;
        opacity: 0;
    }
}

.borde2 {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    font-weight: bold;
    color: #fff !important;
    font-size: 19px;
}

#bienvenida {
    width: 55%;
    padding-left: 40pt;
    font-size: 17px !important;
    text-align: justify;
    line-height: 1.5;
}

.nube {
    background-image: url(../../images/nube.png);
    background-size: 100% 100%;
    width: 558pt;
    height: 456pt;
    position: absolute;
    z-index: 1000;
    bottom: -362pt;
    left: 422pt;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    animation-duration: 2.8s;
    animation-fill-mode: forwards;
}

@keyframes moverArriba {
    from {
        bottom: -362pt;
        opacity: 0;
    }

    to {
        bottom: 147pt;
        opacity: 1;
    }
}

.overlay .btn-warning {
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.overlay .btn-warning:hover {
    color: #fff !important;
}

.overlay .btn-warning:hover i {
    color: #fff !important;
}

.overlay .btn-warning::after {
    content: "";
    background: #4195d1;
    color: #fff !important;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

@keyframes moverabajo {
    from {
        bottom: 147pt;
        opacity: 1;
    }

    to {
        bottom: -362pt;
        opacity: 0;
    }
}

.final {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.904);
}

@media screen and (max-width: 1600px) {
    #pc {
        display: none;
    }

    #movil {
        display: block !important;
    }

    #brujula {
        margin-left: 26%;
    }

    #imagen_brujula {
        position: absolute;
        z-index: -1;
        padding-left: 20% !important;
        padding-top: 14%;
        height: 372pt;
    }
}

.hide {
    display: none !important;
}

.miDiv {
    position: absolute;
    width: 26%;
    height: 78pt;
    text-align: center;
    z-index: 1001;
    margin-top: 20px;
}