.row2 {
  margin-top: 30px;
}

.signo {
  border: 6px dashed black;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  height: 260px;
  font-size: 50px;
  font-weight: bold;
  justify-content: center;
  align-items: center !important;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.numero {
  border: 1px solid black;
  border-radius: 20%;
  width: 90px;
  height: 90px;
  font-size: 50px;
  align-items: center;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.col-12 {
  margin-top: 38px;
}

.col-12.dragging {
  background-color: navy;
  border-radius: 50%;
}

.dropped {
  padding: 0;
  background-color: #85d928;
}

.error {
  padding: 0;
  background-color: #d92828;
  color: white;
}

@font-face {
  font-family: nunito_bold;
  src: url(../../nunito/Nunito-ExtraBold.ttf);
}

* {
  font-family: nunito_bold;
}

body {
  background: url("");
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  color: #262626;
}

.btn {
  width: 70px;
  height: 70px;
  font-size: 36px;
  border-radius: 50%;
  border: 7px solid white;
}

.imagen_Vocal {
  width: 80%;
  border: 2px dashed;
  border-radius: 20px;
  cursor: pointer;
}

.swal2-html-container {
  overflow: hidden;
}

.col-2 {
  padding: 0px !important;
  text-align: center;
}

.col-2 div {
  width: 90%;
  text-align: center;
}

.swal2-modal {
  width: 50% !important;
}

.seleccionado {
  background-color: #85d928;
}

.letra {
  padding: 15px;
}

.container {
  max-width: 1400px !important;
}

.img_drag {
  cursor: pointer;
}

.hide {
  display: none;
}

.overlay {
  background-image: url(../../images/normal1.gif);
  background-size: 90% 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: fixed;
  left: -200px; /* Empieza fuera de la pantalla */
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.overlay::before {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../../images/normal1.gif") url("../../images/normal2.gif");
}

@keyframes moverDerecha {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes moverIzquierda {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}

.borde2 {
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
  font-weight: bold;
  color: #fff !important;
  font-size: 19px;
}

#bienvenida {
  width: 55%;
  padding-left: 40pt;
  font-size: 20px !important;
  text-align: justify;
}

.nube {
  background-image: url(../../images/nube.png);
  background-size: 100% 100%;
  width: 558pt;
  height: 456pt;
  position: absolute;
  z-index: 1000;
  bottom: -362pt;
  left: 422pt;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  animation-duration: 2.8s;
  animation-fill-mode: forwards;
}

@keyframes moverArriba {
  from {
    bottom: -362pt;
    opacity: 0;
  }
  to {
    bottom: 147pt;
    opacity: 1;
  }
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

@keyframes moverabajo {
  from {
    bottom: 147pt;
    opacity: 1;
  }
  to {
    bottom: -362pt;
    opacity: 0;
  }
}

.final {
  background-size: 45%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.904);
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.centra-abc {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.option-btn,
#play-btn {
  margin: 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out; /* Transición para el efecto de zoom y cambio de fondo */
  z-index: 2;
}

.option-btn img,
#play-btn img {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
}

#play-btn img {
  margin-right: 10px; /* Espaciado entre la imagen y el texto del botón */
}

/* Efecto de zoom al pasar el mouse */
#play-btn:hover,
.animales:hover {
  transform: scale(1.1); /* Puedes ajustar el nivel de zoom aquí */
}

/* Estilos adicionales para resaltar la respuesta correcta o incorrecta */
.correct-answer {
  filter: drop-shadow(5px 7px 8px #66ff66);
}

.incorrect-answer {
  filter: drop-shadow(5px 7px 8px #f72828);
}

.divGranja {
  background-image: url("img/fondo-granja.jpg");
  display: none;
  background-size: 100%; /* Cambiado a 100% para cubrir toda la pantalla */
  height: 88vh; /* Utiliza la altura completa de la ventana */
  width: 98vw;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  top: 0;
  left: 0;
}

.divBosque {
  background-image: url("img/fondo-bosque.jpg");
  display: none;
  background-size: 100%; /* Cambiado a 100% para cubrir toda la pantalla */
  height: 88vh; /* Utiliza la altura completa de la ventana */
  width: 98vw;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  top: 0;
  left: 0;
}
.divSelva {
  background-image: url("img/fondo-selva.jpg");
  display: none;
  background-size: 100%; /* Cambiado a 100% para cubrir toda la pantalla */
  height: 88vh; /* Utiliza la altura completa de la ventana */
  width: 98vw;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  top: 0;
  left: 0;
}

#Vaca {
  position: absolute;
  top: 74%;
  left: 51%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Gallina {
  position: absolute;
  top: 65%;
  left: 4%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Cerdo {
  position: absolute;
  top: 73%;
  left: 35%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Oveja {
  position: absolute;
  top: 63%;
  left: 81%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Pato {
  position: absolute;
  top: 70%;
  left: 25%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Gato {
  position: absolute;
  top: 48%;
  left: 13%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Perro {
  position: absolute;
  top: 74%;
  left: 76%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Caballo {
  position: absolute;
  top: 69%;
  left: 61%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Ganso {
  position: absolute;
  top: 18%;
  left: 51%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Burro {
  position: absolute;
  top: 65%;
  left: 66%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

/* animales del bosque */

#Ardilla {
  position: absolute;
  top: 33%;
  left: 22%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Ciervo {
  position: absolute;
  top: 63%;
  left: 23%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Buho {
  position: absolute;
  top: 30%;
  left: 78%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Zorro {
  position: absolute;
  top: 79%;
  left: 88%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Oso {
  position: absolute;
  top: 66%;
  left: 49%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Mapache {
  position: absolute;
  top: 46%;
  left: 63%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Rana {
  position: absolute;
  top: 81%;
  left: 4%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Topo {
  position: absolute;
  top: 77%;
  left: 29%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Jabali {
  position: absolute;
  top: 59%;
  left: 3%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Zorrillo {
  position: absolute;
  top: 76%;
  left: 66%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

/* animales del la selva  */
#Tigre {
  position: absolute;
  top: 38%;
  left: 70%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Mono {
  position: absolute;
  top: 19%;
  left: 5%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Loro {
  position: absolute;
  top: 7%;
  left: 56%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Jaguar {
  position: absolute;
  top: 65%;
  left: 21%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Elefante {
  position: absolute;
  top: 58%;
  left: 73%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Serpiente {
  position: absolute;
  top: 73%;
  left: 55%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Hipopotamo {
  position: absolute;
  top: 76%;
  left: 32%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Lemur {
  position: absolute;
  top: 4%;
  left: 81%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Gorila {
  position: absolute;
  top: 56%;
  left: 85%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#Leon {
  position: absolute;
  top: 51%;
  left: 14%;
  width: 61px;
  height: 61px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
