.row2 {
    margin-top: 30px;
}

.col-12 {
    margin-top: 38px;
}

@font-face {
    font-family: nunito_bold;
    src: url(../../nunito/Nunito-ExtraBold.ttf);
}

* {
    font-family: nunito_bold;
}

.imagen {
    text-align: center;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    border: 4px solid #863ea4;
    height: 200px !important;
    overflow: hidden;
}

.imagen2 {
    height: 100%;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.imagen2:hover {
    transform: scale(1.2);
}

.col-4 {
    padding-top: 30px;
    overflow: hidden;
}

.correcto img {
    opacity: 0.5;
}

.correcto {
    background-color: #08ef08bf;
}

.incorrecto img {
    opacity: 0.5;
}

.incorrecto {
    background-color: #f7130bbf;
}
  

.body_animal {
	background: url(img/reino_animal.png);
    background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	height: 100vh;
	color: #262626;
    overflow: hidden;
}

.body_vegetal {
	background: url(img/reino_vegetal.png);
    background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	height: 100vh;
	color: #262626;
    overflow: hidden;
}

.body_fungi {
	background: url(img/reino_fungi.png);
    background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	height: 100vh;
	color: #262626;
    overflow: hidden;
}

.body_monera {
	background: url(img/reino_monera.png);
    background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	height: 100vh;
	color: #262626;
    overflow: hidden;
}

.body_protista {
	background: url(img/reino_protista.png);
    background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	height: 100vh;
	color: #262626;
    overflow: hidden;
}

.btn{
    width: 70px;
    height: 70px;
    font-size: 36px;
    border-radius: 50%;
    position: relative;
    border: 4px solid white;
    top: 18%;
    margin-right: 9px;
}

#contenedor {
    margin-top: 0px !important;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

#pista_p  {
    position: absolute;
    top: 30%;
    width: 238px;
    left: 44px;
}

.overlay {
    background-image: url(../../images/ciencia/normal1.gif);
    background-size: 90% 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: fixed;
    left: -200px; /* Empieza fuera de la pantalla */
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.overlay::before{
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1;
    content:url("../../images/ciencia/normal1.gif")
            url("../../images/ciencia/normal2.gif")
}

@keyframes moverDerecha {
    from { left: -100%; opacity: 0;}
    to { left: 0; opacity: 1;}
}

@keyframes moverIzquierda {
    from { left: 0; opacity: 1;}
    to { left: -100%; opacity: 0;}
}

.borde2 {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    font-weight: bold;
    color: #fff !important;
    font-size: 19px;
}

#bienvenida {
    width: 55%;
    padding-left: 40pt;
    font-size: 19px !important;
    text-align: justify;
}

.nube {
    background-image: url(../../images/nube.png);
    background-size: 100% 100%;
    width: 558pt;
    height: 456pt;
    position: absolute;
    z-index: 1000;
    bottom: -362pt;
    left: 422pt;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    animation-duration: 2.8s;
    animation-fill-mode: forwards;
}

@keyframes moverArriba {
    from { bottom: -362pt; opacity: 0;}
    to { bottom: 147pt; opacity: 1;}
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

@keyframes moverabajo {
    from { bottom: 147pt; opacity: 1;}
    to { bottom: -362pt; opacity: 0;}
}

.final {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.904);
}